@font-face {
  font-family: "Maison-Bold";
  src: url("../assets/fonts/FontsFree-Net-Maison-Neue-Bold.ttf");
}
@font-face {
  font-family: "Maison-Regular";
  src: url("../assets//fonts/FontsFree-Net-Maison-Neue-Light.ttf");
}
@font-face {
  font-family: "Maison-Mono";
  src: url("../assets//fonts/Maison\ Neue.ttf");
}
