$white: #ffffff;
$dark_white: #f5f4f4;
$light_gray: #dddbdc;
$gray: #737373;
$dark_gray: #4c4c4b;
$light_black: #262626;
$black: #000000;
$red: #d0021b;
$milky: #e6ded8;
$main_font_light: "Maison Neue Light";
$main_font_bold: "Maison Neue Bold";
