@font-face {
    font-family: 'Maison Neue Light';
    src: url('./FontsFree-Net-Maison-Neue-Light.ttf');
}

@font-face {
    font-family: 'Maison Neue Bold';
    src: url('./FontsFree-Net-Maison-Neue-Bold.ttf');
}